In [1]:
import numpy as np
import pandas as pd
import xlrd, xlwt
import xlsxwriter
path = '//home/yi/'

# Create xls

In [2]:
wb = xlwt.Workbook()

In [3]:
wb

In [4]:
wb.add_sheet('first_sheet', cell_overwrite_ok = True)

In [5]:
wb.get_active_sheet()

0

In [6]:
ws_1 = wb.get_sheet(0)
ws_1

In [7]:
ws_2 = wb.add_sheet('second_sheet')

In [8]:
data = np.arange(1, 65).reshape(8, 8)
data

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [9]:
# write 100 in cell "A1"
ws_1.write(0, 0, 100)

In [10]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws_1.write(r, c, data[c, r])
        ws_2.write(r, c, data[r, c])

In [11]:
wb.save(path + 'workbook.xls')

# Create xlsx

In [12]:
wb = xlsxwriter.Workbook(path + 'workbook.xlsx')

In [13]:
wb_1 = wb.add_worksheet('first')
wb_2 = wb.add_worksheet('second')

In [14]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        wb_1.write(r, c, data[c, r])
        wb_2.write(r, c, data[r, c])

In [15]:
wb.close()

## create chart

In [16]:
wb = xlsxwriter.Workbook(path + 'chart.xlsx')
ws = wb.add_worksheet()
# write cumsum of random values in first column
values = np.random.standard_normal(15).cumsum()
ws.write_column('A1', values)
# create a new chart object
chart = wb.add_chart({'type': 'line'})
# add a series to the chart
chart.add_series({'values': '=Sheet1!$A$1:$A%15',
               'marker': {'type': 'diamond'},})
#insert the chart
ws.insert_chart('C1', chart)
wb.close()

# Read from worksheet

In [17]:
book = xlrd.open_workbook(path + 'workbook.xlsx')

In [18]:
book.sheet_names()

[u'first', u'second']

In [19]:
sheet_1 = book.sheet_by_name('first')
sheet_2 = book.sheet_by_index(1)

In [20]:
sheet_2.name

u'second'

In [21]:
sheet_1.ncols, sheet_1.nrows

(8, 8)

In [22]:
c1 = sheet_1.cell(0, 0)
c1.value

1.0

In [23]:
c1.ctype

2

In [24]:
sheet_2.row(3)

[number:25.0,
 number:26.0,
 number:27.0,
 number:28.0,
 number:29.0,
 number:30.0,
 number:31.0,
 number:32.0]

In [25]:
sheet_1.col(3)

[number:25.0,
 number:26.0,
 number:27.0,
 number:28.0,
 number:29.0,
 number:30.0,
 number:31.0,
 number:32.0]

In [26]:
sheet_1.col_values(3, start_rowx=3, end_rowx=7)

[28.0, 29.0, 30.0, 31.0]

In [27]:
sheet_1.row_values(3, start_colx=3, end_colx=7)

[28.0, 36.0, 44.0, 52.0]

In [28]:
for c in range(sheet_1.ncols):
    for r in range(sheet_1.nrows):
        print '%i\t' % sheet_1.cell(r, c).value,
    print '\n'

1	2	3	4	5	6	7	8

9	10	11	12	13	14	15	16

17	18	19	20	21	22	23	24

25	26	27	28	29	30	31	32

33	34	35	36	37	38	39	40

41	42	43	44	45	46	47	48

49	50	51	52	53	54	55	56

57	58	59	60	61	62	63	64

# use openpyxl

In [29]:
import openpyxl as oxl

In [30]:
wb = oxl.Workbook()

In [31]:
ws = wb.create_sheet(index = 0, title = 'oxl_sheet')

In [32]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws.cell(row = r + 1, column = c + 1).value = data[c, r]

In [33]:
wb.save(path + 'oxl_book.xlsx')

In [34]:
wb = oxl.load_workbook(path + 'oxl_book.xlsx')

In [35]:
ws = wb.get_active_sheet()

/home/yi/anaconda2/lib/python2.7/site-packages/openpyxl/workbook/workbook.py:102: UserWarning: Call to deprecated function or class get_active_sheet (Use the .active property).
  def get_active_sheet(self):

In [36]:
cell = ws['B4']

In [37]:
cell.column

'B'

In [38]:
cell.row

4

In [39]:
cell.value

12L

In [40]:
ws['B1':'B4']

In [41]:
for cell in ws['B1':'B4']:
    print cell[0].value

9
10
11
12

In [43]:
ws.range('B1:C4')

/home/yi/anaconda2/lib/python2.7/site-packages/openpyxl/worksheet/worksheet.py:516: UserWarning: Call to deprecated function or class range (
    Use .iter_rows() working with coordinates 'A1:D4',
    and .get_squared_range() when working with indices (1, 1, 4, 4)
    and .get_named_range() for named ranges).
  Use .iter_rows() working with coordinates 'A1:D4',

((<Cell oxl_sheet.B1>, <Cell oxl_sheet.C1>),
 (<Cell oxl_sheet.B2>, <Cell oxl_sheet.C2>),
 (<Cell oxl_sheet.B3>, <Cell oxl_sheet.C3>),
 (<Cell oxl_sheet.B4>, <Cell oxl_sheet.C4>))

In [44]:
for row in ws.range('B1:C4'):
    for cell in row:
        print cell.value,
    print

9 17
10 18
11 19
12 20

/home/yi/anaconda2/lib/python2.7/site-packages/openpyxl/worksheet/worksheet.py:516: UserWarning: Call to deprecated function or class range (
    Use .iter_rows() working with coordinates 'A1:D4',
    and .get_squared_range() when working with indices (1, 1, 4, 4)
    and .get_named_range() for named ranges).
  Use .iter_rows() working with coordinates 'A1:D4',

# Use pandas

In [46]:
df_1 = pd.read_excel(path + 'workbook.xlsx', 'first', header = None)
df_2 = pd.read_excel(path + 'workbook.xlsx', 'second', header = None)

In [47]:
import string

In [48]:
columns = list()
for c in range(data.shape[0]):
    columns.append(string.uppercase[c])
columns

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [49]:
df_1.columns = columns
df_2.columns = columns

In [50]:
df_1

   A   B   C   D   E   F   G   H
0  1   9  17  25  33  41  49  57
1  2  10  18  26  34  42  50  58
2  3  11  19  27  35  43  51  59
3  4  12  20  28  36  44  52  60
4  5  13  21  29  37  45  53  61
5  6  14  22  30  38  46  54  62
6  7  15  23  31  39  47  55  63
7  8  16  24  32  40  48  56  64

In [51]:
df_2

    A   B   C   D   E   F   G   H
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40
5  41  42  43  44  45  46  47  48
6  49  50  51  52  53  54  55  56
7  57  58  59  60  61  62  63  64

In [52]:
df_1.to_excel(path + 'new_book.xlsx', 'my_sheet')

In [53]:
wbn = xlrd.open_workbook(path + 'new_book.xlsx')
wbn.sheet_names()

[u'my_sheet']

In [54]:
wbw = pd.ExcelWriter(path + 'new_book_2.xlsx')
df_1.to_excel(wbw, 'first')
df_2.to_excel(wbw, 'second')

In [55]:
wbw.save()

In [57]:
wbn = xlrd.open_workbook(path + 'new_book_2.xlsx')
wbn.sheet_names()

[u'first', u'second']

In [58]:
data = np.random.rand(20, 100000)

In [59]:
data.nbytes

16000000

In [60]:
df = pd.DataFrame(data)

In [61]:
%time df.to_excel(path + 'data.xlsx', 'data_sheet')

CPU times: user 36.6 s, sys: 132 ms, total: 36.7 s
Wall time: 36.6 s

In [62]:
%time np.save(path + 'data', data)

CPU times: user 0 ns, sys: 20 ms, total: 20 ms
Wall time: 15.6 ms

In [63]:
%time df = pd.read_excel(path + 'data.xlsx', 'data_sheet')

CPU times: user 5.06 s, sys: 12 ms, total: 5.07 s
Wall time: 5.04 s

In [64]:
%time data = np.load(path + 'data.npy')

CPU times: user 0 ns, sys: 8 ms, total: 8 ms
Wall time: 6.84 ms