# 日期和时间数据类型与工具

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2017, 1, 15, 20, 34, 17, 642543)

In [4]:
now.year, now.month, now.day

(2017, 1, 15)

In [5]:
delta = datetime(2017,1,15) - datetime(2017,1,1,7,0)

In [6]:
delta

datetime.timedelta(13, 61200)

In [7]:
delta.days, delta.seconds

(13, 61200)

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2017, 1, 1)

In [10]:
start + timedelta(14)

datetime.datetime(2017, 1, 15, 0, 0)

In [11]:
start - 2 * timedelta(7)

datetime.datetime(2016, 12, 18, 0, 0)

## 字符串和datetime的相互转换

In [12]:
stamp = datetime(2017, 1, 1)

In [13]:
str(stamp)

'2017-01-01 00:00:00'

In [14]:
stamp.strftime("%Y-%m-%d")

'2017-01-01'

In [15]:
value = '2012-1-9'

In [16]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2012, 1, 9, 0, 0)

In [17]:
datestrs = ['7/6/2011', '11/12/2014']

In [18]:
[datetime.strptime(v, '%m/%d/%Y') for v in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2014, 11, 12, 0, 0)]

In [19]:
from dateutil.parser import parse

In [20]:
parse('2005-10-1')

datetime.datetime(2005, 10, 1, 0, 0)

In [21]:
parse('Jan, 3rd, 2018, 10:20PM')

datetime.datetime(2018, 1, 3, 22, 20)

In [22]:
parse('12/1/2011', dayfirst = True)

datetime.datetime(2011, 1, 12, 0, 0)

In [23]:
datestrs

['7/6/2011', '11/12/2014']

In [24]:
import pandas as pd

In [25]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2014-11-12'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx

DatetimeIndex(['2011-07-06', '2014-11-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

# 时间序列基础

In [30]:
import numpy as np

In [31]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),  datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [32]:
ts = pd.Series(np.random.randn(6), index = dates)

In [33]:
ts

2011-01-02    0.315156
2011-01-05    1.033802
2011-01-07    1.423064
2011-01-08    0.804441
2011-01-10   -0.452804
2011-01-12    0.607602
dtype: float64

In [34]:
type(ts)

pandas.core.series.Series

In [35]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
type(ts.index)

pandas.tseries.index.DatetimeIndex

In [37]:
ts + ts[::2]

2011-01-02    0.630312
2011-01-05         NaN
2011-01-07    2.846127
2011-01-08         NaN
2011-01-10   -0.905609
2011-01-12         NaN
dtype: float64

In [38]:
ts.index.dtype

dtype('<M8[ns]')

In [39]:
stamp = ts.index[0]

In [40]:
stamp

Timestamp('2011-01-02 00:00:00')

## 索引、选取、子集构造

In [41]:
stamp = ts.index[2]

In [42]:
ts[stamp]

1.4230637390362921

In [43]:
ts['1/10/2011']

-0.45280432297912832

In [44]:
ts['20110110']

-0.45280432297912832

In [45]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2001', periods = 1000))

In [46]:
longer_ts.head()

2001-01-01   -0.044303
2001-01-02   -2.092374
2001-01-03    0.086662
2001-01-04   -0.599864
2001-01-05   -1.405678
Freq: D, dtype: float64

In [47]:
longer_ts['2001']

2001-01-01   -0.044303
2001-01-02   -2.092374
2001-01-03    0.086662
2001-01-04   -0.599864
2001-01-05   -1.405678
2001-01-06    0.341237
2001-01-07   -0.256410
2001-01-08   -0.184377
2001-01-09   -0.148513
2001-01-10    0.906875
2001-01-11    0.791920
2001-01-12    0.347602
2001-01-13    0.282532
2001-01-14   -0.474022
2001-01-15    0.546824
2001-01-16   -0.434848
2001-01-17   -0.184098
2001-01-18   -2.425895
2001-01-19   -0.820218
2001-01-20   -1.091911
2001-01-21    0.547969
2001-01-22    0.614042
2001-01-23    1.340886
2001-01-24   -0.396878
2001-01-25   -0.762258
2001-01-26    1.186530
2001-01-27    0.730767
2001-01-28    0.036492
2001-01-29    0.798621
2001-01-30    1.976468
                ...
2001-12-02   -0.594833
2001-12-03   -0.420969
2001-12-04   -0.345794
2001-12-05   -0.527258
2001-12-06    0.171768
2001-12-07    0.631014
2001-12-08   -0.358478
2001-12-09    0.185724
2001-12-10    0.473845
2001-12-11   -1.002110
2001-12-12   -1.139062
2001-12-13   -0.137381
2001-12-14   -0.844475
2001-12-15    0.186894
2001-12-16    1.798734
2001-12-17    0.676578
2001-12-18    1.044595
2001-12-19    1.479412
2001-12-20   -0.831634
2001-12-21   -0.193874
2001-12-22    0.328406
2001-12-23    0.554076
2001-12-24   -0.666375
2001-12-25   -1.371806
2001-12-26   -0.238399
2001-12-27    0.400151
2001-12-28    1.146433
2001-12-29    0.576326
2001-12-30    1.026192
2001-12-31   -1.036263
Freq: D, dtype: float64

In [48]:
longer_ts['2001-12']

2001-12-01   -2.552143
2001-12-02   -0.594833
2001-12-03   -0.420969
2001-12-04   -0.345794
2001-12-05   -0.527258
2001-12-06    0.171768
2001-12-07    0.631014
2001-12-08   -0.358478
2001-12-09    0.185724
2001-12-10    0.473845
2001-12-11   -1.002110
2001-12-12   -1.139062
2001-12-13   -0.137381
2001-12-14   -0.844475
2001-12-15    0.186894
2001-12-16    1.798734
2001-12-17    0.676578
2001-12-18    1.044595
2001-12-19    1.479412
2001-12-20   -0.831634
2001-12-21   -0.193874
2001-12-22    0.328406
2001-12-23    0.554076
2001-12-24   -0.666375
2001-12-25   -1.371806
2001-12-26   -0.238399
2001-12-27    0.400151
2001-12-28    1.146433
2001-12-29    0.576326
2001-12-30    1.026192
2001-12-31   -1.036263
Freq: D, dtype: float64

In [49]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.423064
2011-01-08    0.804441
2011-01-10   -0.452804
2011-01-12    0.607602
dtype: float64

In [50]:
ts

2011-01-02    0.315156
2011-01-05    1.033802
2011-01-07    1.423064
2011-01-08    0.804441
2011-01-10   -0.452804
2011-01-12    0.607602
dtype: float64

In [51]:
ts['1/6/2011': '1/11/2011']

2011-01-07    1.423064
2011-01-08    0.804441
2011-01-10   -0.452804
dtype: float64

In [52]:
ts.truncate(after = '1/8/2011')

2011-01-02    0.315156
2011-01-05    1.033802
2011-01-07    1.423064
2011-01-08    0.804441
dtype: float64

In [53]:
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED')

In [54]:
long_df = pd.DataFrame(np.random.randn(100, 4), index = dates, columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [55]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -0.100203  1.733131  0.025290 -0.201442
2000-01-12 -0.471672  0.542619 -1.098781 -1.466954
2000-01-19 -0.944299 -0.324165 -0.196125 -0.864438
2000-01-26  2.527939  0.312712  0.655876 -0.123208
2000-02-02 -1.221320  0.056112 -1.000194  2.408655
2000-02-09 -0.120958  3.603666 -1.448942  0.172624
2000-02-16 -0.207096 -0.498780  0.299864  1.208799
2000-02-23  0.076102 -0.397136  0.788810 -0.191142
2000-03-01 -0.169949  1.017897 -0.363495  1.023333
2000-03-08 -0.347656  0.854831  0.509616 -1.083628
2000-03-15  0.350134 -0.595301 -1.356960 -1.824041
2000-03-22 -1.677707 -1.425642  1.163677  0.065584
2000-03-29  2.286598 -0.522198  0.288153 -0.374891
2000-04-05  1.957302  1.051917  0.553182 -1.560494
2000-04-12  0.199473 -2.488629 -0.987703  1.484515
2000-04-19 -0.286824  1.100060 -1.448499  0.398204
2000-04-26  0.251477 -0.828065  0.268789 -0.510420
2000-05-03 -0.396940 -0.659471  0.116754  1.318917
2000-05-10  0.925563  0.429247  1.961847  0.422366
2000-05-17 -1.109158 -0.832336  0.381757  1.317040
2000-05-24  1.559638 -0.013128  0.636400 -0.430580
2000-05-31 -0.776508  0.292902  0.096788  0.956317
2000-06-07 -0.178135  0.392403 -0.691092 -0.386924
2000-06-14 -0.622135  1.077708  0.152370 -0.037655
2000-06-21  0.156521  0.523709  0.141220 -2.009203
2000-06-28 -1.306262 -1.344329 -0.777178  0.940031
2000-07-05  0.133726 -1.249223  0.038975 -1.223424
2000-07-12  0.197120  0.676649 -0.082865  0.027974
2000-07-19  0.028680 -0.379808  0.071124  0.189830
2000-07-26  0.280241 -2.084469  0.556175 -1.178642
...              ...       ...       ...       ...
2001-05-09 -0.168659 -0.730615  2.331757  0.472521
2001-05-16  0.158163  0.637537 -1.434923 -1.232233
2001-05-23 -0.292089 -0.718514  1.475144  1.208398
2001-05-30  0.317305 -1.622391 -0.536910 -0.376085
2001-06-06  1.957306  1.377119 -0.339243 -1.692642
2001-06-13  0.574164 -0.492507  1.263418  1.376255
2001-06-20 -1.468380 -0.415434 -1.452349  0.155969
2001-06-27 -0.017442  0.499606  1.233158 -0.673742
2001-07-04  0.696448  0.646811 -1.642522 -0.312582
2001-07-11 -0.888607 -0.673730  1.397140 -1.191655
2001-07-18 -1.268316 -0.015093 -0.830040  1.172344
2001-07-25  0.243055 -0.047008 -0.135081 -2.539015
2001-08-01  0.088974  0.253794 -0.959523  0.763511
2001-08-08 -0.287435 -0.392474  1.436507 -0.303912
2001-08-15  1.774966 -0.567792  0.211083  0.591166
2001-08-22  0.421975  0.323980 -0.474903 -0.758269
2001-08-29 -0.432673 -0.433370 -1.085827 -0.423881
2001-09-05  0.403568 -0.420607  0.174514 -0.292870
2001-09-12  0.626308 -1.425161 -1.429068 -1.355108
2001-09-19  0.823586 -0.366419 -1.513982  1.141464
2001-09-26  1.955734 -0.899466  0.156057  1.072088
2001-10-03 -1.146938 -1.848052 -0.893647  0.587082
2001-10-10 -0.360139  0.206269  0.685357  0.469852
2001-10-17  1.252913  0.612610 -1.375279  1.483778
2001-10-24  1.025722  0.134398  0.073128  0.231623
2001-10-31  0.482620 -0.975701  0.127639 -1.152395
2001-11-07 -1.765667 -0.988042 -0.373856 -1.138791
2001-11-14 -0.891405 -1.527896 -0.023387  0.568985
2001-11-21 -1.499532  1.061945  0.208690 -0.273455
2001-11-28  0.373060 -0.469601  0.250160 -0.419545

[100 rows x 4 columns]

## 带有重复索引的时间序列

In [56]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [57]:
dup_ts = pd.Series(np.arange(5), index = dates)

In [58]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [59]:
dup_ts.index.is_unique

False

In [60]:
dup_ts['1/3/2000']

4

In [61]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [62]:
grouped = dup_ts.groupby(level = 0)

In [63]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [64]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 日期的范围、频率和移动

In [65]:
ts

2011-01-02    0.315156
2011-01-05    1.033802
2011-01-07    1.423064
2011-01-08    0.804441
2011-01-10   -0.452804
2011-01-12    0.607602
dtype: float64

In [66]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

## 生成日期范围

In [67]:
index = pd.date_range('4/1/2012', '6/1/2012')

In [68]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range(start = '4/1/2012', periods = 20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range(end = '6/1/2012', periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('1/1/2000', '12/1/2000', freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [72]:
pd.date_range('5/2/2012 12:56:31', periods = 5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range('5/2/2012 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 频率和日期偏移量

In [75]:
from pandas.tseries.offsets import Hour, Minute

In [76]:
hour = Hour()

In [77]:
hour

In [78]:
four_hrs = Hour(4)

In [79]:
four_hrs

In [80]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [81]:
Hour(2) + Minute(45)

In [82]:
pd.date_range('1/1/2000', periods = 20, freq = '1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00',
               '2000-01-01 15:00:00', '2000-01-01 16:30:00',
               '2000-01-01 18:00:00', '2000-01-01 19:30:00',
               '2000-01-01 21:00:00', '2000-01-01 22:30:00',
               '2000-01-02 00:00:00', '2000-01-02 01:30:00',
               '2000-01-02 03:00:00', '2000-01-02 04:30:00'],
              dtype='datetime64[ns]', freq='90T')

### WOM日期

In [83]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-3FRI')

In [84]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

## 移动（超前和滞后）数据

In [85]:
ts = pd.Series(np.random.randn(4), 
               index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))

In [86]:
ts

2000-01-31    1.033558
2000-02-29    0.721477
2000-03-31    1.139402
2000-04-30    0.924263
Freq: M, dtype: float64

In [87]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.033558
2000-04-30    0.721477
Freq: M, dtype: float64

In [88]:
ts.shift(-2)

2000-01-31    1.139402
2000-02-29    0.924263
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [89]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.301948
2000-03-31    0.579262
2000-04-30   -0.188817
Freq: M, dtype: float64

In [90]:
ts.shift(2, freq = 'M')

2000-03-31    1.033558
2000-04-30    0.721477
2000-05-31    1.139402
2000-06-30    0.924263
Freq: M, dtype: float64

In [91]:
ts.shift(3, freq = 'D')

2000-02-03    1.033558
2000-03-03    0.721477
2000-04-03    1.139402
2000-05-03    0.924263
dtype: float64

In [92]:
ts.shift(1, freq = '3D')

2000-02-03    1.033558
2000-03-03    0.721477
2000-04-03    1.139402
2000-05-03    0.924263
dtype: float64

In [93]:
ts.shift(1, freq = '90T')

2000-01-31 01:30:00    1.033558
2000-02-29 01:30:00    0.721477
2000-03-31 01:30:00    1.139402
2000-04-30 01:30:00    0.924263
Freq: M, dtype: float64

### 通过偏移量对日期进行位移

In [95]:
from pandas.tseries.offsets import Day, MonthEnd

In [96]:
now = datetime.now()

In [97]:
now + 3 * Day()

Timestamp('2017-01-18 20:47:38.016764')

In [98]:
now + MonthEnd()

Timestamp('2017-01-31 20:47:38.016764')

In [99]:
now + MonthEnd(2)

Timestamp('2017-02-28 20:47:38.016764')

In [100]:
offset = MonthEnd()

In [101]:
offset.rollforward(now)

Timestamp('2017-01-31 20:47:38.016764')

In [102]:
offset.rollback(now)

Timestamp('2016-12-31 20:47:38.016764')

In [103]:
ts = pd.Series(np.random.randn(20), index = pd.date_range('1/15/2000', periods = 20, freq = '4d'))

In [104]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.154663
2000-02-29   -0.014019
2000-03-31    0.110185
dtype: float64

In [105]:
ts.resample('M', how = 'mean')

/home/yi/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

2000-01-31   -0.154663
2000-02-29   -0.014019
2000-03-31    0.110185
Freq: M, dtype: float64