# 日期和时间数据类型与工具

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2017, 1, 18, 21, 0, 5, 121804)

In [4]:
now.year, now.month, now.day

(2017, 1, 18)

In [5]:
delta = datetime(2017,1,15) - datetime(2017,1,1,7,0)

In [6]:
delta

datetime.timedelta(13, 61200)

In [7]:
delta.days, delta.seconds

(13, 61200)

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2017, 1, 1)

In [10]:
start + timedelta(14)

datetime.datetime(2017, 1, 15, 0, 0)

In [11]:
start - 2 * timedelta(7)

datetime.datetime(2016, 12, 18, 0, 0)

## 字符串和datetime的相互转换

In [12]:
stamp = datetime(2017, 1, 1)

In [13]:
str(stamp)

'2017-01-01 00:00:00'

In [14]:
stamp.strftime("%Y-%m-%d")

'2017-01-01'

In [15]:
value = '2012-1-9'

In [16]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2012, 1, 9, 0, 0)

In [17]:
datestrs = ['7/6/2011', '11/12/2014']

In [18]:
[datetime.strptime(v, '%m/%d/%Y') for v in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2014, 11, 12, 0, 0)]

In [19]:
from dateutil.parser import parse

In [20]:
parse('2005-10-1')

datetime.datetime(2005, 10, 1, 0, 0)

In [21]:
parse('Jan, 3rd, 2018, 10:20PM')

datetime.datetime(2018, 1, 3, 22, 20)

In [22]:
parse('12/1/2011', dayfirst = True)

datetime.datetime(2011, 1, 12, 0, 0)

In [23]:
datestrs

['7/6/2011', '11/12/2014']

In [24]:
import pandas as pd

In [25]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2014-11-12'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx

DatetimeIndex(['2011-07-06', '2014-11-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

# 时间序列基础

In [30]:
import numpy as np

In [31]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),  datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [32]:
ts = pd.Series(np.random.randn(6), index = dates)

In [33]:
ts

2011-01-02    1.075665
2011-01-05    1.678053
2011-01-07   -1.592545
2011-01-08    0.103509
2011-01-10   -0.205959
2011-01-12    0.212811
dtype: float64

In [34]:
type(ts)

pandas.core.series.Series

In [35]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
type(ts.index)

pandas.tseries.index.DatetimeIndex

In [37]:
ts + ts[::2]

2011-01-02    2.151330
2011-01-05         NaN
2011-01-07   -3.185091
2011-01-08         NaN
2011-01-10   -0.411918
2011-01-12         NaN
dtype: float64

In [38]:
ts.index.dtype

dtype('<M8[ns]')

In [39]:
stamp = ts.index[0]

In [40]:
stamp

Timestamp('2011-01-02 00:00:00')

## 索引、选取、子集构造

In [41]:
stamp = ts.index[2]

In [42]:
ts[stamp]

-1.592545318506936

In [43]:
ts['1/10/2011']

-0.20595880054399063

In [44]:
ts['20110110']

-0.20595880054399063

In [45]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2001', periods = 1000))

In [46]:
longer_ts.head()

2001-01-01    0.301499
2001-01-02   -0.419222
2001-01-03    1.664783
2001-01-04    0.684590
2001-01-05    0.036637
Freq: D, dtype: float64

In [47]:
longer_ts['2001']

2001-01-01    0.301499
2001-01-02   -0.419222
2001-01-03    1.664783
2001-01-04    0.684590
2001-01-05    0.036637
2001-01-06   -0.034057
2001-01-07   -0.205683
2001-01-08    2.027385
2001-01-09   -2.210701
2001-01-10    0.298003
2001-01-11   -0.324784
2001-01-12    0.178571
2001-01-13   -1.191980
2001-01-14   -0.941394
2001-01-15   -0.685850
2001-01-16   -0.328736
2001-01-17   -0.139033
2001-01-18    0.140154
2001-01-19    1.919252
2001-01-20    1.692195
2001-01-21   -1.443221
2001-01-22   -1.019665
2001-01-23    2.066040
2001-01-24   -0.229072
2001-01-25    0.398530
2001-01-26   -1.308068
2001-01-27    1.018313
2001-01-28    1.158699
2001-01-29    1.144827
2001-01-30   -0.468961
                ...
2001-12-02    0.474052
2001-12-03   -0.088576
2001-12-04    0.274568
2001-12-05    0.952061
2001-12-06   -0.072335
2001-12-07    1.526404
2001-12-08   -0.291703
2001-12-09   -2.434764
2001-12-10   -0.560222
2001-12-11   -0.077189
2001-12-12    0.532432
2001-12-13    0.123341
2001-12-14   -0.654811
2001-12-15   -1.652103
2001-12-16   -1.749277
2001-12-17   -0.226218
2001-12-18    1.166824
2001-12-19   -1.843003
2001-12-20    0.782104
2001-12-21    0.154451
2001-12-22   -2.228620
2001-12-23   -1.605607
2001-12-24   -0.800675
2001-12-25    0.220712
2001-12-26    1.159407
2001-12-27   -0.458107
2001-12-28   -0.110092
2001-12-29    0.892112
2001-12-30   -1.380983
2001-12-31   -0.107038
Freq: D, dtype: float64

In [48]:
longer_ts['2001-12']

2001-12-01   -0.748156
2001-12-02    0.474052
2001-12-03   -0.088576
2001-12-04    0.274568
2001-12-05    0.952061
2001-12-06   -0.072335
2001-12-07    1.526404
2001-12-08   -0.291703
2001-12-09   -2.434764
2001-12-10   -0.560222
2001-12-11   -0.077189
2001-12-12    0.532432
2001-12-13    0.123341
2001-12-14   -0.654811
2001-12-15   -1.652103
2001-12-16   -1.749277
2001-12-17   -0.226218
2001-12-18    1.166824
2001-12-19   -1.843003
2001-12-20    0.782104
2001-12-21    0.154451
2001-12-22   -2.228620
2001-12-23   -1.605607
2001-12-24   -0.800675
2001-12-25    0.220712
2001-12-26    1.159407
2001-12-27   -0.458107
2001-12-28   -0.110092
2001-12-29    0.892112
2001-12-30   -1.380983
2001-12-31   -0.107038
Freq: D, dtype: float64

In [49]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.592545
2011-01-08    0.103509
2011-01-10   -0.205959
2011-01-12    0.212811
dtype: float64

In [50]:
ts

2011-01-02    1.075665
2011-01-05    1.678053
2011-01-07   -1.592545
2011-01-08    0.103509
2011-01-10   -0.205959
2011-01-12    0.212811
dtype: float64

In [51]:
ts['1/6/2011': '1/11/2011']

2011-01-07   -1.592545
2011-01-08    0.103509
2011-01-10   -0.205959
dtype: float64

In [52]:
ts.truncate(after = '1/8/2011')

2011-01-02    1.075665
2011-01-05    1.678053
2011-01-07   -1.592545
2011-01-08    0.103509
dtype: float64

In [53]:
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED')

In [54]:
long_df = pd.DataFrame(np.random.randn(100, 4), index = dates, columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [55]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -0.787913 -0.416511 -0.947720 -0.556279
2000-01-12 -0.091537  1.001248  0.108843 -0.587373
2000-01-19  0.113362  0.711573  0.965755  0.181353
2000-01-26  1.065415 -0.883120 -0.313905 -1.013796
2000-02-02 -2.374547 -0.088411 -0.026166  0.002855
2000-02-09  0.668684  0.634784 -0.853509  2.573407
2000-02-16  1.008869  1.830253  1.133672  1.361596
2000-02-23  0.408228 -0.292146 -0.036959 -0.181856
2000-03-01 -1.595426 -0.543669 -0.787430 -0.489552
2000-03-08  1.633857 -0.731684  0.589642  0.515825
2000-03-15  0.272573 -0.232706  0.372199 -0.131949
2000-03-22 -1.507794  0.359673 -0.086572  0.755528
2000-03-29 -2.004653 -0.549128 -0.949669 -1.092084
2000-04-05 -1.514661  0.558671 -1.090289  0.786692
2000-04-12  0.278145  0.943714  0.850507 -1.152208
2000-04-19 -1.468340 -0.732830 -1.839831  0.623599
2000-04-26  0.250596 -0.822286 -0.226808 -1.773175
2000-05-03  0.719729 -0.568553  0.655382 -1.587056
2000-05-10  0.064398 -0.527885  0.812229  0.377206
2000-05-17 -0.222215 -0.458198  0.673602 -2.612577
2000-05-24  1.237712 -0.249682 -1.221863 -1.546327
2000-05-31 -0.216538  0.381532  1.358382  0.158549
2000-06-07 -0.649691 -0.070332 -0.380202 -0.436092
2000-06-14  0.835383 -1.320098 -1.082034  0.023814
2000-06-21  0.235880 -0.085178 -2.278322 -1.485761
2000-06-28  0.013886  1.731381  2.507541 -0.109723
2000-07-05 -0.632781  0.890622  0.449128 -0.249222
2000-07-12 -0.225300 -1.010904 -0.199768 -1.037064
2000-07-19  0.725944 -0.902441  1.519572 -0.691524
2000-07-26 -0.930509  0.356147  0.322484  1.403239
...              ...       ...       ...       ...
2001-05-09 -0.436742 -0.959786 -1.437018 -0.228921
2001-05-16  0.284414 -0.707731 -0.599495  0.319283
2001-05-23  0.977835 -1.940325  2.399755  1.360177
2001-05-30  0.947513  0.270639  0.552991 -0.345573
2001-06-06  1.000646  0.487946  0.005130 -2.058503
2001-06-13  1.121643 -1.345712 -1.515458  0.228939
2001-06-20 -1.824400 -0.760286 -0.249282  0.370993
2001-06-27 -1.667486 -0.858279 -0.138140 -0.370736
2001-07-04  0.863210  1.036544  0.413327  0.570768
2001-07-11 -0.291022  0.039033  0.407894 -0.034886
2001-07-18  0.515577 -1.084431 -1.106119  0.966727
2001-07-25 -0.738351  0.587950 -1.267664  0.942578
2001-08-01  0.001607 -0.397795 -0.307126  0.294551
2001-08-08  0.131859 -1.994277  0.797708 -1.318236
2001-08-15  1.218662  1.181603 -0.047675  0.940588
2001-08-22 -0.947342 -0.338213  1.724210  0.304852
2001-08-29 -0.350730 -0.940919 -0.850700 -0.096051
2001-09-05 -0.884147  1.014971 -0.658797  0.494288
2001-09-12 -0.012032 -0.734311  0.189153 -1.400867
2001-09-19  0.187325  0.460817  2.306727 -0.776143
2001-09-26 -1.512564  0.061679  0.157637 -0.250741
2001-10-03  0.924748 -0.671365 -0.627240 -0.904821
2001-10-10  0.953540  0.114750  1.061883  1.204078
2001-10-17  1.317676 -0.166169 -0.452173 -1.622009
2001-10-24  0.946115 -0.284931 -0.618107 -1.403618
2001-10-31  1.745413  0.710943  0.224661 -0.808624
2001-11-07 -0.284180  0.108682  1.639075  1.091832
2001-11-14  1.800611  1.122051  0.700144 -0.175451
2001-11-21  0.576784  1.958127 -0.773133 -0.787349
2001-11-28 -0.818823  0.456132  0.955235 -0.814495

[100 rows x 4 columns]

## 带有重复索引的时间序列

In [56]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [57]:
dup_ts = pd.Series(np.arange(5), index = dates)

In [58]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [59]:
dup_ts.index.is_unique

False

In [60]:
dup_ts['1/3/2000']

4

In [61]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [62]:
grouped = dup_ts.groupby(level = 0)

In [63]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [64]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 日期的范围、频率和移动

In [65]:
ts

2011-01-02    1.075665
2011-01-05    1.678053
2011-01-07   -1.592545
2011-01-08    0.103509
2011-01-10   -0.205959
2011-01-12    0.212811
dtype: float64

In [66]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

## 生成日期范围

In [67]:
index = pd.date_range('4/1/2012', '6/1/2012')

In [68]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range(start = '4/1/2012', periods = 20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range(end = '6/1/2012', periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('1/1/2000', '12/1/2000', freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [72]:
pd.date_range('5/2/2012 12:56:31', periods = 5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range('5/2/2012 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 频率和日期偏移量

In [74]:
from pandas.tseries.offsets import Hour, Minute

In [75]:
hour = Hour()

In [76]:
hour

In [77]:
four_hrs = Hour(4)

In [78]:
four_hrs

In [79]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [80]:
Hour(2) + Minute(45)

In [81]:
pd.date_range('1/1/2000', periods = 20, freq = '1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00',
               '2000-01-01 15:00:00', '2000-01-01 16:30:00',
               '2000-01-01 18:00:00', '2000-01-01 19:30:00',
               '2000-01-01 21:00:00', '2000-01-01 22:30:00',
               '2000-01-02 00:00:00', '2000-01-02 01:30:00',
               '2000-01-02 03:00:00', '2000-01-02 04:30:00'],
              dtype='datetime64[ns]', freq='90T')

### WOM日期

In [82]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-3FRI')

In [83]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

## 移动（超前和滞后）数据

In [84]:
ts = pd.Series(np.random.randn(4), 
               index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))

In [85]:
ts

2000-01-31   -0.604128
2000-02-29   -1.326464
2000-03-31    0.139064
2000-04-30   -0.241486
Freq: M, dtype: float64

In [86]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.604128
2000-04-30   -1.326464
Freq: M, dtype: float64

In [87]:
ts.shift(-2)

2000-01-31    0.139064
2000-02-29   -0.241486
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [88]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    1.195666
2000-03-31   -1.104838
2000-04-30   -2.736513
Freq: M, dtype: float64

In [89]:
ts.shift(2, freq = 'M')

2000-03-31   -0.604128
2000-04-30   -1.326464
2000-05-31    0.139064
2000-06-30   -0.241486
Freq: M, dtype: float64

In [90]:
ts.shift(3, freq = 'D')

2000-02-03   -0.604128
2000-03-03   -1.326464
2000-04-03    0.139064
2000-05-03   -0.241486
dtype: float64

In [91]:
ts.shift(1, freq = '3D')

2000-02-03   -0.604128
2000-03-03   -1.326464
2000-04-03    0.139064
2000-05-03   -0.241486
dtype: float64

In [92]:
ts.shift(1, freq = '90T')

2000-01-31 01:30:00   -0.604128
2000-02-29 01:30:00   -1.326464
2000-03-31 01:30:00    0.139064
2000-04-30 01:30:00   -0.241486
Freq: M, dtype: float64

### 通过偏移量对日期进行位移

In [93]:
from pandas.tseries.offsets import Day, MonthEnd

In [94]:
now = datetime.now()

In [95]:
now + 3 * Day()

Timestamp('2017-01-21 21:00:06.363897')

In [96]:
now + MonthEnd()

Timestamp('2017-01-31 21:00:06.363897')

In [97]:
now + MonthEnd(2)

Timestamp('2017-02-28 21:00:06.363897')

In [98]:
offset = MonthEnd()

In [99]:
offset.rollforward(now)

Timestamp('2017-01-31 21:00:06.363897')

In [100]:
offset.rollback(now)

Timestamp('2016-12-31 21:00:06.363897')

In [101]:
ts = pd.Series(np.random.randn(20), index = pd.date_range('1/15/2000', periods = 20, freq = '4d'))

In [102]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.020168
2000-02-29    0.881105
2000-03-31    0.428787
dtype: float64

In [103]:
ts.resample('M', how = 'mean')

/home/yi/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

2000-01-31    0.020168
2000-02-29    0.881105
2000-03-31    0.428787
Freq: M, dtype: float64

# 时区处理

In [104]:
import pytz

In [105]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [106]:
tz = pytz.timezone('US/Mountain')

In [107]:
tz

## 本地化和转换

In [108]:
rng = pd.date_range('3/9/2012 9:30', periods = 6, freq = 'D')

In [109]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [110]:
print ts.index.tz

None

In [111]:
pd.date_range('3/9/2012 9:30', periods = 6, freq = 'D', tz = 'UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [112]:
ts_utc = ts.tz_localize('UTC')

In [113]:
ts_utc

2012-03-09 09:30:00+00:00   -0.634575
2012-03-10 09:30:00+00:00   -0.598610
2012-03-11 09:30:00+00:00   -0.871139
2012-03-12 09:30:00+00:00   -1.999665
2012-03-13 09:30:00+00:00   -0.137483
2012-03-14 09:30:00+00:00   -0.012781
Freq: D, dtype: float64

In [114]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [115]:
ts_utc.tz_convert('US/Mountain')

2012-03-09 02:30:00-07:00   -0.634575
2012-03-10 02:30:00-07:00   -0.598610
2012-03-11 03:30:00-06:00   -0.871139
2012-03-12 03:30:00-06:00   -1.999665
2012-03-13 03:30:00-06:00   -0.137483
2012-03-14 03:30:00-06:00   -0.012781
Freq: D, dtype: float64

In [116]:
ts_eastern = ts.tz_localize('US/Eastern')

In [117]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.634575
2012-03-10 14:30:00+00:00   -0.598610
2012-03-11 13:30:00+00:00   -0.871139
2012-03-12 13:30:00+00:00   -1.999665
2012-03-13 13:30:00+00:00   -0.137483
2012-03-14 13:30:00+00:00   -0.012781
Freq: D, dtype: float64

In [118]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.634575
2012-03-10 15:30:00+01:00   -0.598610
2012-03-11 14:30:00+01:00   -0.871139
2012-03-12 14:30:00+01:00   -1.999665
2012-03-13 14:30:00+01:00   -0.137483
2012-03-14 14:30:00+01:00   -0.012781
Freq: D, dtype: float64

In [119]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

## 操作时区意识型TimeStamp对象

In [120]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [121]:
stamp_utc = stamp.tz_localize('utc')

In [122]:
stamp_utc.tz_convert('US/Mountain')

Timestamp('2011-03-11 21:00:00-0700', tz='US/Mountain')

In [123]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz = 'Europe/Moscow')

In [124]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [125]:
stamp_utc.value

1299902400000000000

In [126]:
stamp_utc.tz_convert('Europe/Berlin').value

1299902400000000000

In [127]:
stamp = pd.Timestamp('2011-03-12 01:30', tz = 'US/Eastern')

In [128]:
stamp

Timestamp('2011-03-12 01:30:00-0500', tz='US/Eastern')

In [129]:
stamp + Hour()

Timestamp('2011-03-12 02:30:00-0500', tz='US/Eastern')

In [130]:
stamp = pd.Timestamp('2012-11-04 00:30', tz = 'US/Eastern')

In [131]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [132]:
stamp + 2 * Hour() + 30 * Minute()

Timestamp('2012-11-04 02:00:00-0500', tz='US/Eastern')

## 不同时区之间的运算

In [133]:
rng = pd.date_range('3/7/2012 9:30', periods = 10, freq = 'B')

In [134]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [135]:
ts

2012-03-07 09:30:00    0.032402
2012-03-08 09:30:00    1.550123
2012-03-09 09:30:00   -0.579064
2012-03-12 09:30:00    0.912648
2012-03-13 09:30:00    1.326663
2012-03-14 09:30:00    1.529821
2012-03-15 09:30:00    1.288777
2012-03-16 09:30:00    0.283132
2012-03-19 09:30:00   -1.503871
2012-03-20 09:30:00   -0.043306
Freq: B, dtype: float64

In [136]:
ts1 = ts[:7].tz_localize('Europe/London')

In [137]:
ts2 = ts1[:2].tz_convert('Europe/Moscow')

In [138]:
result = ts1 + ts2

In [139]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

# 时期以及算术运算

In [140]:
p = pd.Period(2007, freq = 'A-DEC')

In [141]:
p

Period('2007', 'A-DEC')

In [142]:
p + 5

Period('2012', 'A-DEC')

In [143]:
p - 2

Period('2005', 'A-DEC')

In [144]:
pd.Period('2014', freq = 'A-DEC') - p

7

In [145]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq = 'M')

In [146]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [147]:
pd.Series(np.random.randn(6), index = rng)

2000-01   -0.804166
2000-02   -2.014469
2000-03    0.053011
2000-04    0.708712
2000-05    0.581893
2000-06    0.417519
Freq: M, dtype: float64

In [148]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [149]:
index = pd.PeriodIndex(values, freq = 'Q-DEC')

In [150]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

## 时期的频率转换

In [151]:
p = pd.Period('2007', freq = 'A-DEC')

In [152]:
p.asfreq('M', how = 'start')

Period('2007-01', 'M')

In [153]:
p.asfreq('M', how = 'end')

Period('2007-12', 'M')

In [154]:
p = pd.Period('2007', freq = 'A-JUN')

In [155]:
p.asfreq('M', how = 'start')

Period('2006-07', 'M')

In [156]:
p.asfreq('M', how = 'end')

Period('2007-06', 'M')

In [157]:
p = pd.Period('2007-08', 'M')

In [158]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [159]:
rng = pd.period_range('2006', '2009', freq = 'A-DEC')

In [160]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [161]:
ts

2006   -0.183846
2007   -1.192808
2008   -1.029063
2009   -0.453052
Freq: A-DEC, dtype: float64

In [162]:
ts.asfreq('M', how = 'start')

2006-01   -0.183846
2007-01   -1.192808
2008-01   -1.029063
2009-01   -0.453052
Freq: M, dtype: float64

In [163]:
ts.asfreq('M', how = 'end')

2006-12   -0.183846
2007-12   -1.192808
2008-12   -1.029063
2009-12   -0.453052
Freq: M, dtype: float64

## 按季度计算的时期频率

In [164]:
p = pd.Period('2012Q4', freq = 'Q-JAN')

In [165]:
p

Period('2012Q4', 'Q-JAN')

In [166]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [167]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [168]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [169]:
p4pm

Period('2012-01-30 16:00', 'T')

In [170]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [171]:
rnng = pd.period_range('2011Q3', '2012Q4', freq = 'Q-JAN')

In [172]:
ts = pd.Series(np.arange(len(rnng)), index = rnng)

In [173]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [174]:
new_rng = (rnng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [175]:
ts.index = new_rng.to_timestamp()

In [176]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

## 将Timestamp转换为Period（及其反向过程）

In [177]:
rng = pd.date_range('1/1/2000', periods = 3, freq = 'M')

In [178]:
ts = pd.Series(np.random.randn(3), index = rng)

In [179]:
pts = ts.to_period()

In [180]:
ts

2000-01-31    1.584828
2000-02-29   -1.123690
2000-03-31    1.836943
Freq: M, dtype: float64

In [181]:
pts

2000-01    1.584828
2000-02   -1.123690
2000-03    1.836943
Freq: M, dtype: float64

In [182]:
rng = pd.date_range('1/29/2000', periods = 6, freq = 'D')

In [183]:
ts2 = pd.Series(np.random.randn(6), index = rng)

In [184]:
ts2.to_period('M')

2000-01   -2.556805
2000-01    1.162218
2000-01   -1.166981
2000-02    1.014396
2000-02   -0.463261
2000-02    0.978854
Freq: M, dtype: float64

In [185]:
pts = ts.to_period()

In [186]:
pts

2000-01    1.584828
2000-02   -1.123690
2000-03    1.836943
Freq: M, dtype: float64

In [187]:
pts.to_timestamp(how = 'end')

2000-01-31    1.584828
2000-02-29   -1.123690
2000-03-31    1.836943
Freq: M, dtype: float64

## 通过数组创建PeriodIndex

In [188]:
data = pd.read_csv('macrodata.csv')

In [189]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
6      1960.0
7      1960.0
8      1961.0
9      1961.0
10     1961.0
11     1961.0
12     1962.0
13     1962.0
14     1962.0
15     1962.0
16     1963.0
17     1963.0
18     1963.0
19     1963.0
20     1964.0
21     1964.0
22     1964.0
23     1964.0
24     1965.0
25     1965.0
26     1965.0
27     1965.0
28     1966.0
29     1966.0
        ...
173    2002.0
174    2002.0
175    2002.0
176    2003.0
177    2003.0
178    2003.0
179    2003.0
180    2004.0
181    2004.0
182    2004.0
183    2004.0
184    2005.0
185    2005.0
186    2005.0
187    2005.0
188    2006.0
189    2006.0
190    2006.0
191    2006.0
192    2007.0
193    2007.0
194    2007.0
195    2007.0
196    2008.0
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, dtype: float64

In [190]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
6      3.0
7      4.0
8      1.0
9      2.0
10     3.0
11     4.0
12     1.0
13     2.0
14     3.0
15     4.0
16     1.0
17     2.0
18     3.0
19     4.0
20     1.0
21     2.0
22     3.0
23     4.0
24     1.0
25     2.0
26     3.0
27     4.0
28     1.0
29     2.0
      ...
173    2.0
174    3.0
175    4.0
176    1.0
177    2.0
178    3.0
179    4.0
180    1.0
181    2.0
182    3.0
183    4.0
184    1.0
185    2.0
186    3.0
187    4.0
188    1.0
189    2.0
190    3.0
191    4.0
192    1.0
193    2.0
194    3.0
195    4.0
196    1.0
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, dtype: float64

In [191]:
index = pd.PeriodIndex(year = data.year, quarter = data.quarter, freq = 'Q-DEC')

In [192]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [193]:
data.index = index

In [194]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, dtype: float64

# 重采样和频率转换

In [195]:
rng = pd.date_range('1/1/2000', periods = 100, freq = 'D')

In [196]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [197]:
ts.resample('M').mean()

2000-01-31    0.166009
2000-02-29   -0.105526
2000-03-31   -0.266390
2000-04-30    0.081051
Freq: M, dtype: float64

In [198]:
ts.resample('M', kind = 'period').mean()

2000-01    0.166009
2000-02   -0.105526
2000-03   -0.266390
2000-04    0.081051
Freq: M, dtype: float64

## 降采样

In [199]:
rng = pd.date_range('1/1/2000', periods = 12, freq = 'T')

In [200]:
ts = pd.Series(np.arange(12), index = rng)

In [201]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [202]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [203]:
ts.resample('5min', closed = 'right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [204]:
ts.resample('5min', closed = 'left', label = 'left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [205]:
ts.resample('5min', loffset = '-1s').sum()

1999-12-31 23:59:59    10
2000-01-01 00:04:59    35
2000-01-01 00:09:59    21
Freq: 5T, dtype: int64

### OHLC重采样

In [206]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

### 通过groupby进行重采样

In [207]:
rng = pd.date_range('1/1/2000', periods = 100, freq = 'D')

In [208]:
ts = pd.Series(np.arange(100), index = rng)

In [209]:
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int64

In [210]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

## 升采样和插值

In [211]:
frame = pd.DataFrame(np.random.randn(2, 4), 
                     index = pd.date_range('1/1/2000', periods = 2, freq = 'W-WED'), 
                     columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [212]:
frame[:5]

            Colorado     Texas  New York      Ohio
2000-01-05  1.044211  0.694982  1.562643  1.008079
2000-01-12  1.218689  0.376023 -0.975227 -1.190654

In [213]:
df_daily = frame.resample('D')

In [214]:
df_daily.head()

/home/yi/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning:
.resample() is now a deferred operation
You called head(...) on this deferred object which materialized it into a dataframe
by implicitly taking the mean.  Use .resample(...).mean() instead
  if __name__ == '__main__':

            Colorado     Texas  New York      Ohio
2000-01-05  1.044211  0.694982  1.562643  1.008079
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN

In [215]:
frame.resample('D').ffill().head()

            Colorado     Texas  New York      Ohio
2000-01-05  1.044211  0.694982  1.562643  1.008079
2000-01-06  1.044211  0.694982  1.562643  1.008079
2000-01-07  1.044211  0.694982  1.562643  1.008079
2000-01-08  1.044211  0.694982  1.562643  1.008079
2000-01-09  1.044211  0.694982  1.562643  1.008079

In [216]:
frame.resample('D').ffill(limit = 2)

            Colorado     Texas  New York      Ohio
2000-01-05  1.044211  0.694982  1.562643  1.008079
2000-01-06  1.044211  0.694982  1.562643  1.008079
2000-01-07  1.044211  0.694982  1.562643  1.008079
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  1.218689  0.376023 -0.975227 -1.190654

In [217]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06  1.044211  0.694982  1.562643  1.008079
2000-01-13  1.218689  0.376023 -0.975227 -1.190654

## 通过时期进行重采样

In [218]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index = pd.period_range('1-2000', '12-2001', freq = 'M'),
                     columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [219]:
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01  0.985646  0.200855 -0.756730 -1.245720
2000-02  1.890378 -1.493336  0.440135 -0.267940
2000-03 -0.893188  1.194309 -0.882644 -0.614323
2000-04 -0.200749  1.485682 -0.072436  0.486946
2000-05 -1.268981  0.457141 -1.732756  1.628804

In [220]:
annual_frame = frame.resample('A-DEC').mean()

In [221]:
annual_frame

      Colorado     Texas  New York      Ohio
2000  0.082632  0.454005  0.015106 -0.060463
2001  0.169933 -0.231280 -0.250516 -0.182046

In [222]:
annual_frame.resample('Q-DEC').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.082632  0.454005  0.015106 -0.060463
2000Q2  0.082632  0.454005  0.015106 -0.060463
2000Q3  0.082632  0.454005  0.015106 -0.060463
2000Q4  0.082632  0.454005  0.015106 -0.060463
2001Q1  0.169933 -0.231280 -0.250516 -0.182046
2001Q2  0.169933 -0.231280 -0.250516 -0.182046
2001Q3  0.169933 -0.231280 -0.250516 -0.182046
2001Q4  0.169933 -0.231280 -0.250516 -0.182046

In [223]:
annual_frame.resample('Q-DEC', convention = 'start').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.082632  0.454005  0.015106 -0.060463
2000Q2  0.082632  0.454005  0.015106 -0.060463
2000Q3  0.082632  0.454005  0.015106 -0.060463
2000Q4  0.082632  0.454005  0.015106 -0.060463
2001Q1  0.169933 -0.231280 -0.250516 -0.182046
2001Q2  0.169933 -0.231280 -0.250516 -0.182046
2001Q3  0.169933 -0.231280 -0.250516 -0.182046
2001Q4  0.169933 -0.231280 -0.250516 -0.182046

In [224]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4  0.082632  0.454005  0.015106 -0.060463
2001Q1  0.082632  0.454005  0.015106 -0.060463
2001Q2  0.082632  0.454005  0.015106 -0.060463
2001Q3  0.082632  0.454005  0.015106 -0.060463
2001Q4  0.169933 -0.231280 -0.250516 -0.182046
2002Q1  0.169933 -0.231280 -0.250516 -0.182046
2002Q2  0.169933 -0.231280 -0.250516 -0.182046
2002Q3  0.169933 -0.231280 -0.250516 -0.182046