In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Groupby技术

In [2]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'], 
                   'key2': ['one', 'two', 'one', 'two', 'one'], 
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

In [3]:
df

      data1     data2 key1 key2
0 -1.631189  1.038612    a  one
1  0.424997  1.122792    a  two
2  1.320379 -0.058192    b  one
3 -1.059188 -1.008721    b  two
4  1.535671  0.476532    a  one

In [4]:
grouped = df['data1'].groupby(df['key1'])

In [5]:
grouped

In [6]:
grouped.mean()

key1
a    0.109826
b    0.130596
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [8]:
means

key1  key2
a     one    -0.047759
      two     0.424997
b     one     1.320379
      two    -1.059188
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a    -0.047759  0.424997
b     1.320379 -1.059188

In [10]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])

In [11]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [12]:
df['data1'].groupby([states, years]).mean()

California  2005    0.424997
            2006    1.320379
Ohio        2005   -1.345188
            2006    1.535671
Name: data1, dtype: float64

In [13]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.109826  0.879312
b     0.130596 -0.533457

In [14]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -0.047759  0.757572
     two   0.424997  1.122792
b    one   1.320379 -0.058192
     two  -1.059188 -1.008721

In [15]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

## 对分组进行迭代

In [16]:
for name, group in df.groupby('key1'):
    print name
    print group

a
      data1     data2 key1 key2
0 -1.631189  1.038612    a  one
1  0.424997  1.122792    a  two
4  1.535671  0.476532    a  one
b
      data1     data2 key1 key2
2  1.320379 -0.058192    b  one
3 -1.059188 -1.008721    b  two

In [17]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print k1, k2
    print group

a one
      data1     data2 key1 key2
0 -1.631189  1.038612    a  one
4  1.535671  0.476532    a  one
a two
      data1     data2 key1 key2
1  0.424997  1.122792    a  two
b one
      data1     data2 key1 key2
2  1.320379 -0.058192    b  one
b two
      data1     data2 key1 key2
3 -1.059188 -1.008721    b  two

In [18]:
pieces = dict(list(df.groupby('key1')))

In [19]:
pieces['b']

      data1     data2 key1 key2
2  1.320379 -0.058192    b  one
3 -1.059188 -1.008721    b  two

In [20]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [21]:
grouped = df.groupby(df.dtypes, axis = 1)

In [22]:
dict(list(grouped))

{dtype('float64'):       data1     data2
 0 -1.631189  1.038612
 1  0.424997  1.122792
 2  1.320379 -0.058192
 3 -1.059188 -1.008721
 4  1.535671  0.476532, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

## 选取一个或者一组列

In [23]:
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.757572
     two   1.122792
b    one  -0.058192
     two  -1.008721

In [24]:
s_grouped = df.groupby(['key1', 'key2'])['data2']

In [25]:
s_grouped

In [26]:
s_grouped.mean()

key1  key2
a     one     0.757572
      two     1.122792
b     one    -0.058192
      two    -1.008721
Name: data2, dtype: float64

## 通过字典或者Series进行分组

In [27]:
people = pd.DataFrame(np.random.randn(5,5), 
                      columns = ['a', 'b', 'c', 'd', 'e'], 
                      index = ['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [28]:
people.ix[2 : 3, ['b', 'c']] = np.nan

In [29]:
people

               a         b         c         d         e
Joe    -1.081093 -0.193952 -0.236942  0.114708 -1.670964
Steve   0.189509  0.212077  3.052009  0.140741 -0.227991
Wes     1.358331       NaN       NaN  0.282237 -0.781767
Jim    -0.420827  0.603404  0.573038  0.324610  0.069338
Travis  0.235161 -0.547225  0.022984 -0.603038 -0.840378

In [30]:
mapping = {'a' : 'red', 'b' : 'red', 
           'c' : 'blue', 'd' : 'blue', 
           'e' : 'red', 'f' : 'orange'}

In [31]:
by_columns = people.groupby(mapping, axis = 1)

In [32]:
by_columns.sum()

            blue       red
Joe    -0.122234 -2.946009
Steve   3.192749  0.173595
Wes     0.282237  0.576564
Jim     0.897648  0.251915
Travis -0.580054 -1.152442

In [33]:
map_series = pd.Series(mapping)

In [34]:
by_columns = people.groupby(map_series, axis = 1).count()

In [35]:
by_columns

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

## 通过函数进行分组

In [36]:
people.groupby(len).sum()

          a         b         c         d         e
3 -0.143589  0.409452  0.336096  0.721555 -2.383392
5  0.189509  0.212077  3.052009  0.140741 -0.227991
6  0.235161 -0.547225  0.022984 -0.603038 -0.840378

In [37]:
key_list = ['one', 'one', 'one', 'two', 'two']

In [38]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -1.081093 -0.193952 -0.236942  0.114708 -1.670964
  two -0.420827  0.603404  0.573038  0.324610  0.069338
5 one  0.189509  0.212077  3.052009  0.140741 -0.227991
6 two  0.235161 -0.547225  0.022984 -0.603038 -0.840378

## 根据索引级别分组

In [39]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]], names = ['cty', 'tenor'])

In [40]:
hier_df = pd.DataFrame(np.random.randn(4, 5), columns = columns)

In [41]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.081597 -0.706727 -0.308466 -0.397352 -1.447523
1     -0.435773  1.323437  0.124055  1.318630  0.390657
2     -0.384393  0.027001 -0.736560  0.782017  0.763742
3     -0.379586 -2.275337 -1.511982  0.495046 -1.855236

In [42]:
hier_df.groupby(level = 'cty', axis = 1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

# 数据聚合

In [43]:
df

      data1     data2 key1 key2
0 -1.631189  1.038612    a  one
1  0.424997  1.122792    a  two
2  1.320379 -0.058192    b  one
3 -1.059188 -1.008721    b  two
4  1.535671  0.476532    a  one

In [44]:
grouped = df.groupby('key1')

In [45]:
grouped['data1'].quantile(0.9)

key1
a    1.313536
b    1.082422
Name: data1, dtype: float64

In [46]:
def peak2peak(arr):
    return arr.max() - arr.min()

In [47]:
grouped.agg(peak2peak)

         data1     data2
key1
a     3.166860  0.646260
b     2.379567  0.950529

In [48]:
grouped.describe()

               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.109826  0.879312
     std    1.606783  0.351348
     min   -1.631189  0.476532
     25%   -0.603096  0.757572
     50%    0.424997  1.038612
     75%    0.980334  1.080702
     max    1.535671  1.122792
b    count  2.000000  2.000000
     mean   0.130596 -0.533457
     std    1.682608  0.672126
     min   -1.059188 -1.008721
     25%   -0.464296 -0.771089
     50%    0.130596 -0.533457
     75%    0.725487 -0.295824
     max    1.320379 -0.058192

In [49]:
tips = pd.read_csv('tips.csv')

In [50]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [51]:
tips[: 6]

   total_bill   tip     sex smoker  day    time  size   tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808
5       25.29  4.71    Male     No  Sun  Dinner     4  0.186240

## 面向列的多函数应用

In [52]:
grouped = tips.groupby(['sex', 'smoker'])

In [53]:
grouped_pct = grouped['tip_pct']

In [54]:
grouped_pct.agg('mean')

sex     smoker
Female  No        0.156921
        Yes       0.182150
Male    No        0.160669
        Yes       0.152771
Name: tip_pct, dtype: float64

In [55]:
grouped_pct.agg(['mean', 'std', peak2peak])

                   mean       std  peak2peak
sex    smoker
Female No      0.156921  0.036421   0.195876
       Yes     0.182150  0.071595   0.360233
Male   No      0.160669  0.041849   0.220186
       Yes     0.152771  0.090588   0.674707

In [56]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

                    foo       bar
sex    smoker
Female No      0.156921  0.036421
       Yes     0.182150  0.071595
Male   No      0.160669  0.041849
       Yes     0.152771  0.090588

In [57]:
functions = ['count', 'mean', 'max']

In [58]:
result = grouped['tip_pct', 'total_bill'].agg(functions)

In [59]:
result

              tip_pct                     total_bill
                count      mean       max      count       mean    max
sex    smoker
Female No          54  0.156921  0.252672         54  18.105185  35.83
       Yes         33  0.182150  0.416667         33  17.977879  44.30
Male   No          97  0.160669  0.291990         97  19.791237  48.33
       Yes         60  0.152771  0.710345         60  22.284500  50.81

In [60]:
result['tip_pct']

               count      mean       max
sex    smoker
Female No         54  0.156921  0.252672
       Yes        33  0.182150  0.416667
Male   No         97  0.160669  0.291990
       Yes        60  0.152771  0.710345

In [61]:
ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)]

In [62]:
grouped['tip_pct', 'total_bill'].agg(ftuples)

                   tip_pct              total_bill
              Durchschnitt Abweichung Durchschnitt Abweichung
sex    smoker
Female No         0.156921   0.001327    18.105185  53.092422
       Yes        0.182150   0.005126    17.977879  84.451517
Male   No         0.160669   0.001751    19.791237  76.152961
       Yes        0.152771   0.008206    22.284500  98.244673

In [63]:
grouped.agg({'tip': np.max, 'size': np.sum})

                tip  size
sex    smoker
Female No       5.2   140
       Yes      6.5    74
Male   No       9.0   263
       Yes     10.0   150

In [64]:
grouped.agg({'tip_pct': ['min', 'max', 'mean', 'std'], 'size': 'sum'})

                tip_pct                               size
                    min       max      mean       std  sum
sex    smoker
Female No      0.056797  0.252672  0.156921  0.036421  140
       Yes     0.056433  0.416667  0.182150  0.071595   74
Male   No      0.071804  0.291990  0.160669  0.041849  263
       Yes     0.035638  0.710345  0.152771  0.090588  150

## 以“无索引”的形式返回聚合数据

In [65]:
tips.groupby(['sex', 'smoker'], as_index = False).mean()

      sex smoker  total_bill       tip      size   tip_pct
0  Female     No   18.105185  2.773519  2.592593  0.156921
1  Female    Yes   17.977879  2.931515  2.242424  0.182150
2    Male     No   19.791237  3.113402  2.711340  0.160669
3    Male    Yes   22.284500  3.051167  2.500000  0.152771

In [66]:
grouped.agg({'tip_pct': ['min', 'max', 'mean', 'std'], 'size': 'sum'}).reset_index()

      sex smoker   tip_pct                               size
                       min       max      mean       std  sum
0  Female     No  0.056797  0.252672  0.156921  0.036421  140
1  Female    Yes  0.056433  0.416667  0.182150  0.071595   74
2    Male     No  0.071804  0.291990  0.160669  0.041849  263
3    Male    Yes  0.035638  0.710345  0.152771  0.090588  150

# 分组级运算和转换

In [67]:
df

      data1     data2 key1 key2
0 -1.631189  1.038612    a  one
1  0.424997  1.122792    a  two
2  1.320379 -0.058192    b  one
3 -1.059188 -1.008721    b  two
4  1.535671  0.476532    a  one

In [68]:
k1_means = df.groupby('key1').mean().add_prefix('mean_')

In [69]:
k1_means

      mean_data1  mean_data2
key1
a       0.109826    0.879312
b       0.130596   -0.533457

In [70]:
pd.merge(df, k1_means, left_on = 'key1', right_index = True)

      data1     data2 key1 key2  mean_data1  mean_data2
0 -1.631189  1.038612    a  one    0.109826    0.879312
1  0.424997  1.122792    a  two    0.109826    0.879312
4  1.535671  0.476532    a  one    0.109826    0.879312
2  1.320379 -0.058192    b  one    0.130596   -0.533457
3 -1.059188 -1.008721    b  two    0.130596   -0.533457

In [71]:
key = ['one', 'two', 'one', 'two', 'one']

In [72]:
people.groupby(key).mean()

            a         b         c         d         e
one  0.170800 -0.370588 -0.106979 -0.068698 -1.097703
two -0.115659  0.407740  1.812523  0.232676 -0.079326

In [73]:
people.groupby(key).transform(np.mean)

               a         b         c         d         e
Joe     0.170800 -0.370588 -0.106979 -0.068698 -1.097703
Steve  -0.115659  0.407740  1.812523  0.232676 -0.079326
Wes     0.170800 -0.370588 -0.106979 -0.068698 -1.097703
Jim    -0.115659  0.407740  1.812523  0.232676 -0.079326
Travis  0.170800 -0.370588 -0.106979 -0.068698 -1.097703

In [74]:
def demean(arr):
    return arr - arr.mean()

In [75]:
demeaned = people.groupby(key).transform(demean)

In [76]:
demeaned

               a         b         c         d         e
Joe    -1.251893  0.176637 -0.129963  0.183405 -0.573261
Steve   0.305168 -0.195664  1.239485 -0.091935 -0.148665
Wes     1.187531       NaN       NaN  0.350935  0.315936
Jim    -0.305168  0.195664 -1.239485  0.091935  0.148665
Travis  0.064362 -0.176637  0.129963 -0.534340  0.257325

In [77]:
demeaned.groupby(key).mean()

       a             b    c             d             e
one  0.0 -1.387779e-17  0.0  0.000000e+00  3.700743e-17
two  0.0  2.775558e-17  0.0  1.387779e-17  0.000000e+00

## apply: 一般性的“拆分-应用-合并”

In [78]:
def top(df, n = 5, column = 'tip_pct'):
    return df.sort_index(by = column)[-n:]

In [79]:
top(tips, n = 6)

/home/yi/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

     total_bill   tip     sex smoker  day    time  size   tip_pct
109       14.31  4.00  Female    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345

In [80]:
tips.groupby('smoker').apply(top)

/home/yi/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [81]:
tips.groupby(['smoker', 'day']).apply(top, n = 1, column = 'total_bill')

/home/yi/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

                 total_bill    tip     sex smoker   day    time  size  \
smoker day
No     Fri  94        22.75   3.25  Female     No   Fri  Dinner     2
       Sat  212       48.33   9.00    Male     No   Sat  Dinner     4
       Sun  156       48.17   5.00    Male     No   Sun  Dinner     6
       Thur 142       41.19   5.00    Male     No  Thur   Lunch     5
Yes    Fri  95        40.17   4.73    Male    Yes   Fri  Dinner     4
       Sat  170       50.81  10.00    Male    Yes   Sat  Dinner     3
       Sun  182       45.35   3.50    Male    Yes   Sun  Dinner     3
       Thur 197       43.11   5.00  Female    Yes  Thur   Lunch     4

                  tip_pct
smoker day
No     Fri  94   0.142857
       Sat  212  0.186220
       Sun  156  0.103799
       Thur 142  0.121389
Yes    Fri  95   0.117750
       Sat  170  0.196812
       Sun  182  0.077178
       Thur 197  0.115982

In [82]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [83]:
result

smoker
No      count    151.000000
        mean       0.159328
        std        0.039910
        min        0.056797
        25%        0.136906
        50%        0.155625
        75%        0.185014
        max        0.291990
Yes     count     93.000000
        mean       0.163196
        std        0.085119
        min        0.035638
        25%        0.106771
        50%        0.153846
        75%        0.195059
        max        0.710345
Name: tip_pct, dtype: float64

In [84]:
result.unstack('smoker')

smoker          No        Yes
count   151.000000  93.000000
mean      0.159328   0.163196
std       0.039910   0.085119
min       0.056797   0.035638
25%       0.136906   0.106771
50%       0.155625   0.153846
75%       0.185014   0.195059
max       0.291990   0.710345

### 禁止分组键

In [85]:
tips.groupby('smoker', group_keys = False).apply(top)

/home/yi/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

     total_bill   tip     sex smoker   day    time  size   tip_pct
88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

## 分位数和桶分析

In [86]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})

In [87]:
factor = pd.cut(frame.data1, 4)

In [88]:
factor[: 10]

0     (1.0213, 2.861]
1    (-0.818, 1.0213]
2    (-0.818, 1.0213]
3    (-0.818, 1.0213]
4    (-0.818, 1.0213]
5     (1.0213, 2.861]
6    (-0.818, 1.0213]
7    (-2.657, -0.818]
8    (-2.657, -0.818]
9    (-2.657, -0.818]
Name: data1, dtype: category
Categories (4, object): [(-4.504, -2.657] < (-2.657, -0.818] < (-0.818, 1.0213] < (1.0213, 2.861]]

In [89]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean()}

In [90]:
grouped = frame.data2.groupby(factor)

In [91]:
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-4.504, -2.657]    6.0  0.870376 -0.141414 -0.983668
(-2.657, -0.818]  195.0  2.711023  0.019642 -2.839371
(-0.818, 1.0213]  631.0  3.256025  0.020600 -3.775791
(1.0213, 2.861]   168.0  2.017780  0.030380 -2.437475

In [92]:
grouping = pd.qcut(frame.data1, 10, labels = False)

In [93]:
grouped = frame.data2.groupby(grouping)

In [94]:
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.711023  0.006240 -2.414567
1      100.0  2.382439  0.044820 -2.839371
2      100.0  2.665929 -0.008225 -2.262822
3      100.0  2.162778 -0.044618 -2.522590
4      100.0  2.589120  0.157573 -1.698528
5      100.0  2.083470  0.004998 -2.999581
6      100.0  3.256025 -0.084455 -3.775791
7      100.0  3.072137  0.113009 -2.043746
8      100.0  1.927075 -0.092630 -2.476709
9      100.0  2.017780  0.114130 -2.194896

## 示例： 用特定于分组的值填充缺失值

In [95]:
s = pd.Series(np.random.randn(6))

In [96]:
s[::2] = np.nan

In [97]:
s

0         NaN
1    0.219312
2         NaN
3   -0.210242
4         NaN
5    0.658591
dtype: float64

In [98]:
s.fillna(s.mean())

0    0.222553
1    0.219312
2    0.222553
3   -0.210242
4    0.222553
5    0.658591
dtype: float64

In [99]:
states = ['Ohio', 'New York', 'Vermont', 'Florida', 'Oregon', 'Nevada', 'California', 'Idaho']

In [100]:
group_key = ['East'] * 4 + ['West'] * 4

In [101]:
data = pd.Series(np.random.randn(8), index = states)

In [102]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan

In [103]:
data

Ohio         -0.091801
New York      0.077026
Vermont            NaN
Florida      -1.284713
Oregon        0.364322
Nevada             NaN
California    0.133775
Idaho              NaN
dtype: float64

In [104]:
data.groupby(group_key).apply(lambda x: x.fillna(x.mean()))

Ohio         -0.091801
New York      0.077026
Vermont      -0.433163
Florida      -1.284713
Oregon        0.364322
Nevada        0.249048
California    0.133775
Idaho         0.249048
dtype: float64

In [105]:
fill_values = {'East': 0.5, 'West': -1}

In [106]:
data.groupby(group_key).apply(lambda x: x.fillna(fill_values[x.name]))

Ohio         -0.091801
New York      0.077026
Vermont       0.500000
Florida      -1.284713
Oregon        0.364322
Nevada       -1.000000
California    0.133775
Idaho        -1.000000
dtype: float64

## 示例：随机采样和排列

In [107]:
suits = ['H', 'S', 'C', 'D']

In [108]:
card_val = (range(1, 11) + [10] * 3) * 4

In [109]:
base_names = ['A'] + range(2, 11) + ['J', 'Q', 'K']

In [110]:
cards = list()

In [111]:
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)

In [112]:
deck = pd.Series(card_val, index = cards)

In [113]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
QH     10
KH     10
dtype: int64

In [114]:
def draw(deck, n = 5):
    return deck.take(np.random.permutation(len(deck))[:n])

In [115]:
draw(deck)

10S    10
2C      2
5H      5
7S      7
6S      6
dtype: int64

In [116]:
get_suit = lambda card: card[-1]

In [117]:
deck.groupby(get_suit).apply(draw, n = 2)

C  AC    1
   2C    2
D  AD    1
   5D    5
H  5H    5
   4H    4
S  8S    8
   3S    3
dtype: int64

In [118]:
deck.groupby(get_suit, group_keys = False).apply(draw, n = 2)

3C     3
7C     7
8D     8
JD    10
2H     2
KH    10
6S     6
JS    10
dtype: int64

## 示例： 分组加权平均数和相关系数

In [119]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'], 
                   'data': np.random.randn(8), 
                   'weights': np.random.rand(8)})

In [120]:
df

  category      data   weights
0        a -1.666710  0.026071
1        a  0.455805  0.485498
2        a -0.730273  0.976698
3        a  0.211907  0.910452
4        b -1.509631  0.958165
5        b -1.469902  0.782353
6        b  0.832998  0.747542
7        b  1.257830  0.025066

In [121]:
grouped = df.groupby('category')

In [122]:
get_wavg = lambda x: np.average(x['data'], weights = x['weights'])

In [123]:
grouped.apply(get_wavg)

category
a   -0.142779
b   -0.772834
dtype: float64

In [124]:
close_px = pd.read_csv('stock_px.csv', parse_dates = True, index_col = 0)

In [125]:
close_px.head()

            AAPL   MSFT    XOM     SPX
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [126]:
rets = close_px.pct_change().dropna()

In [127]:
spx_corr = lambda x: x.corrwith(x['SPX'])

In [128]:
by_year = rets.groupby(lambda x: x.year)

In [129]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [130]:
by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

## 示例：面向分组的线性回归

In [131]:
import statsmodels.api as sm

In [132]:
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1
    results = sm.OLS(Y, X).fit()
    return results.params

In [133]:
by_year.apply(regress, 'AAPL', ['SPX'])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514